
html {
    background: url('../images/field.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100% + 56px);
    overflow: hidden;
    position: relative;
}
body {
    height: 100%;
    overflow: auto;
    background: none;
    padding: 80px 10%;
    padding-bottom: 112px;
}


@media only screen and (max-width: 424px) {
  #tablaPos, #tablaJug, .header-torneo h4{
    zoom: .75
  }
}

/* html{
  height: fit-content;
  min-height: 100%;
  padding: 100px;
  position: relative;
}
body{
  background: url('../images/field.jpg');
  background-size: cover;
  height: fit-content;
  background-attachment: fixed;
} */
*{
  font-family: 'Poiret One';
  /* font-family: 'Audiowide', monospace; */
  text-transform: uppercase;
  font-weight: bold;
}

.poiret, .poiret p, .poiret a, .poiret marquee{
  font-family: "Poiret One" !important;
  color: #000
}
nav, footer{
  box-shadow: 0 0 10px -3px;
  width: 100%;
}

.signature{
  float: right;
  margin: 10px;
  font-size: 10px
}

  h6{
    margin: 20px;
  }
  h6:hover {
    /*text-decoration: underline;*/
  }

  svg{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
  }

/* TABLAS */

.tabla{
  width: 100%;
  /* background: #fff; */
  border-radius: 3px;
  overflow: hidden;
  border: solid 1px #000f;
  /* box-shadow: 0 0 10px -7px; */
}
.tabla td{
  font-size: 14px;
}
.tabla-header{
  font-family: "Poiret One";
  font-size: 30px;
  font-weight: bolder;
    text-align: left;
    padding: 10px 20px;
}

.tabla thead tr td{
  background: #28a745;
  padding: 0 10px;
  color: #fff;
  font-family: "Poiret one";
  font-weight: bolder;
  font-size: 20px;
  opacity: 0.8;
}

.fixture-div {
    display: inline-block;
    padding: 20px 10px;
    padding-top: 0;
}
/* home */
.mapa {
    grid-area: mapa;
    background-size: cover !important;
    background-position: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    text-decoration: none !important;
}
.bitten h2{
  text-decoration: none !important;
  color: #000 !important;
}
.mapa:hover, .torneodiv:hover{
  background-position: 53% 53% !important;
  cursor: pointer;
}
.texto{
  grid-area: texto;
  padding: 20px;
}
.proxima-title{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
}


/* TILES */
.sponsors{
  grid-area: sponsors;
  padding: 0 !important;
  background: 0 !important;
  box-shadow: 0 0 !important;
  /* display: flex;
  align-items: center; */
}
.grid-container{
grid-gap: 5px;
padding: 10px;
  display: grid;
  filter: drop-shadow(0 0 3px #0009);
}
.grid-container .poiret {
    font-size: 20px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 3px;
  /* box-shadow: 0 0 10px -3px; */
  position: relative;
}
.grid-container > div h2{

}

.svgLoader{
    height: 50vh;
    display: flex;
    justify-content: center
}
.svgLoader svg{
  align-self: center;
}

.bitten{
  clip-path: polygon(20px 0%, 0 20px, 0 100%, 100% 100%, 100% 0px);
  -webkit-clip-path: polygon(20px 0%, 0 20px, 0 100%, 100% 100%, 100% 0px);
  text-decoration: none !important
}

.header-grid { grid-area: header;
  background: 0 !important;
  box-shadow: 0 0 !important;
  padding: 0 !important;
  justify-content: space-between;
  display: flex;
  /* filter: drop-shadow(0 0 3px #0009); */
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.page-title {
    grid-area: title;
    text-align: center;
    /* font-family: Monoton; */
    font-family: 'Poiret One';
    padding: 10px;
    text-shadow: 0px 0px 10px #666;
    background: #28a745cc;
    border-radius: 3px;
    box-shadow: 0 0 10px -5px #000;
    margin: 0;
    color: #fff;
}

a i{
  text-decoration: none;
  color: #fff
}

.sponsordiv { grid-area: sponsors;
  padding: 0 !important;
  background: 0 !important;
  box-shadow: 0 0 !important;
  display: flex;
  align-items: center;
}

/* HEADER AND FOOTER */
footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 56px;
    background: #28a745!important;
    margin-top: 50px;
}

.header-torneo{
  clip-path: polygon(0 0%, 0 100%, 100% 100%, calc(100% - 20px) 0%);
  -webkit-clip-path: polygon(0 0%, 0 100%, 100% 100%, calc(100% - 20px) 0%);
  width: 50%;
  margin-right: auto;}
.header-torneo h4{
  margin: 0;
}

.header-sociales {
    margin-left: auto;
    clip-path: polygon(0 0%, 20px 100%, 100% 100%, 100% 0%);
    -webkit-clip-path: polygon(0 0%, 20px 100%, 100% 100%, 100% 0%);
    padding: 0 20px;
}
.header-torneo, .header-sociales{
  height: 40px;
  background: #28a745aa !important;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.ball {
  height: 80%;
  /* float: left; */
  margin-right: 20px;
}

/* NAV */
a.nav-link {
  font-size: 20px;
  font-family: "poiret one";
  font-weight: bold
}
.header-sociales i{
  margin: 0 10px;
  font-size: 20px;
}

.signatureMobile{
  display: none;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 1024px) {
  html{
    padding: 0;
    min-height: 100vh;
  }

  body{
    padding: 0;
    /* padding-bottom: 56px; */
    background: #60a268;
  }
  .signature{
    display: none;
  }
  .signatureMobile{
    display: block;
    text-align: right;
  }
  .grid-container{
    margin-top: 56px;
    grid-template-columns: min-content
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }

.header-torneo h4, .header-sociales i{
  font-size: 14px;
}
.header-torneo{
  padding-left: 10px;
}
.carousel{
  height: 250px;
}
.contacto{
  padding: 10px;
  overflow: hidden
}
h3, h4{
  font-size: 1rem
}
h5{
  font-size: 0.75rem
}

.tabla thead tr td{
  font-size: 16px;
}

}
